name: CI - Symfony Docker Build

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install PHP 8.3
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'

            - name: Install Composer dependencies
              run: composer install --no-interaction --no-progress

            - name: Build Docker image
              run: docker build -t symfony-app .

            - name: Test container (php -v)
              run: docker run --rm symfony-app php -v
